
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<ion-nav-view name="menuContent"></ion-nav-view>

<!-- 18 sept for individual header
  <ion-header-bar align-title="centre" class="bar-positive">
    <h1 class="title">FoodSavr</h1>
  </ion-header-bar>
 18 sept for individual header-->

<ion-content class="home">

<div class="login">
</div>

<div class="side">

 <button class="button button-block button-positive"  ng-click="gotoState(1)" >Upload Offers</button>
 <button class="button button-block button-positive"  ng-click="gotoState(2)" >View Offers</button>
 <!--button class="button button-block button-positive"  ng-click="gotoState(2)" >View Offers</button-->

</div>   
   
</ion-content>
</body>
</html>

